body {
    font-family: Arial, sans-serif;
    background-image: url('https://a-static.besthdwallpaper.com/nature-and-small-pink-flowers-english-lavender-wallpaper-1920x1080-36588_48.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /* Remove default margin */
    padding: 0; 
  }
.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(253, 250, 250, 0.937); /* Set the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    margin-top: 105px;
    padding-right:10vh ;
    padding-left: 10vh;
}

h1 {
    font-size: 24px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}